<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Free Funds</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          routerLinkActive="red"
          class="nav-link"
          [routerLink]="['/Admin/Dashboard']"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a routerLinkActive="red" class="nav-link" [routerLink]="['/Role/Add']"
          >Add Role</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLinkActive="red"
          class="nav-link"
          [routerLink]="['/Scheme/Add']"
          >Add Scheme</a
        >
      </li>
      <li class="nav-item">
        <a routerLinkActive="red" class="nav-link" [routerLink]="['/Game/Add']"
          >Add Game</a
        >
      </li>
      <li class="nav-item">
        <a routerLinkActive="red" class="nav-link" [routerLink]="['/User/Add']"
          >Add Agent</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLinkActive="red"
          class="nav-link"
          [routerLink]="['/Assign/Role']"
          >Assign Role</a
        >
      </li>
      
      <li class="nav-item">
        <a
          routerLinkActive="red"
          class="nav-link"
          [routerLink]="['/AgentMoney/Add']"
          >Add Money</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLinkActive="red"
          class="nav-link"
          [routerLink]="['/AllTransaction/View']"
          >All Transaction</a
        >
      </li>
     
      <li class="nav-item">
        <a
          routerLinkActive="red"
          class="nav-link"
          [routerLink]="['/PostWining/View']"
          >Post Winning</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLinkActive="red"
          class="nav-link"
          [routerLink]="['/Profile/Admin']"
          ><span class="material-icons">
            face
            </span></a
        >
      </li>
      <li class="nav-item">
        <a
          routerLinkActive="red"
          class="nav-link"
          [routerLink]="['/AdminLogout']"
          ><span class="material-icons">
            power_settings_new
            </span></a
        >
      </li>
    </ul>
  </div>
</nav>
 
    <div class="col-sm-12 col-md-12 col-lg-12">
      <router-outlet></router-outlet>
    </div>
 
