<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">

                            <h5 class="display-5 text-center">SignIn</h5>
                            <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
                                <div class="form-group mb-3">
                                    <label for="name">Username</label>
                                        <input autocomplete="false"  autofocus type="text" class="form-control" name="Username" [(ngModel)]="LoginModel.Username" maxlength="50"
                                            #refUsername="ngModel" id="Username" required>
                                        <div *ngIf="!refUsername.valid  && (refUsername.dirty || refUsername.touched)" class="alert alert-danger">
                                            <div [hidden]="!refUsername.errors.required">
                                                    Username is required
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="name">Password</label>
                                        <input autocomplete="off" autofocus type="password" class="form-control" name="Password" [(ngModel)]="LoginModel.Password" maxlength="50"
                                            #refPassword="ngModel" id="Password" required>
                                        <div *ngIf="!refPassword.valid  && (refPassword.dirty || refPassword.touched)" class="alert alert-danger">
                                            <div [hidden]="!refPassword.errors.required">
                                                    Password is required
                                            </div>
                                        </div>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                    <label for="customCheck1" class="custom-control-label">Remember password</label>
                                </div>
                                <button type="submit" mat-raised-button [disabled]="!f.form.valid" color="primary" class="btn-block">Login <span class="material-icons">
                                    login
                                    </span></button>
                            </form>
                           
                        </div>
                    </div>
                </div> 

            </div>
        </div> 
     
    </div>
</div>
