<mat-card>
  <mat-card-content>
    <div class="container">
      <div id="content" class="content-lift site-content">
        <div class="row">
          <div id="primary" class="col-sm-12">
            <main id="blog" class="site-main blog-main" role="blog">
              <article
                id="post-44364"
                class="post-44364 page type-page status-publish hentry"
              >
                <div class="content-area">
                  <header class="entry-header">
                    <h1 class="entry-title text-center"><span class="material-icons">
                        warning
                        </span> नियम एवं शर्तें</h1>
                  </header>
                  <ul class="list-group" style="font-size: 22px">
                    <li class="list-group-item"><span class="material-icons">
                        thumb_up
                        </span> किसी भी लेन देन के लिए एजेंट से आप लड़ाई नहीं करेंगे |</li>
                    <li class="list-group-item"><span class="material-icons">
                        thumb_up
                        </span> कभी भी पेमेंट के लिए समय से पहले या फिर समय के बाद नहीं जायेगे |</li>
                    <li class="list-group-item"><span class="material-icons">
                        thumb_up
                        </span> लाटरी के विनिंग नंबर केवल इसी वेबसाइट के मान्य होंगे |</li>
                    <li class="list-group-item"><span class="material-icons">
                        thumb_up
                        </span> बेटिंग नंबर 0 से लेकर 50 तक होनी चाहिए |</li>
                    <li class="list-group-item"><span class="material-icons">
                        thumb_up
                        </span> बेट अमाउंट 100,200,300,400,500 इस तरह से होनी चाहिए |</li>
                    <li class="list-group-item"><span class="material-icons">
                          thumb_up
                          </span> गेम ओपन होने का समय सुबह के 01:00 AM ऍम से शाम 04:00 PM तक बेट लगा पाएंगे |</li>
                          <li class="list-group-item"><span class="material-icons">
                            thumb_up
                            </span> गेम के विनिंग नंबर शाम 05:00 PM बजे घोषित किये जायेंगे |</li>
                  </ul>

                   
                  <br>
                  <footer class="text-center" style="font-size: x-large;">
                    
                    <mat-checkbox type="checkbox" name="terms" id="terms" [(ngModel)]="terms" class="example-margin">
                        नियम और शर्तों को स्वीकार करें 
                    </mat-checkbox>
                    &nbsp; &nbsp;<button mat-mini-fab (click)="accept()"><span class="material-icons">
                        arrow_forward
                        </span></button>
                  </footer>
                </div>
              </article>
            </main>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
