<hr>
<mat-chip-list aria-label="Fish selection">
    <mat-chip color="accent" selected>User Profile</mat-chip>
  </mat-chip-list>

<mat-card><mat-card-content>
<div class="panel panel-default">
    <div class="panel-body">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-1">
                    <label for="name">User Name</label>
                    <input disabled type="text" class="form-control" autocomplete="off" name="UserName" [(ngModel)]="UserModel.UserName" maxlength="50"
                        #refUserName="ngModel" id="UserName" required>
                    <div *ngIf="!refUserName.valid  && (refUserName.dirty || refUserName.touched)" class="alert alert-danger">
                        <div [hidden]="!refUserName.errors.required">
                            UserName is required
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="name">Full Name</label>
                    <input type="text" class="form-control" name="FullName" maxlength="50" [(ngModel)]="UserModel.FullName" maxlength="50"
                        #refFullName="ngModel" id="FullName" required>
                    <div *ngIf="!refFullName.valid  && (refFullName.dirty || refFullName.touched)" class="alert alert-danger">
                        <div [hidden]="!refFullName.errors.required">
                            FullName is required
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                  <label for="name">Email</label>
                  <input type="email" class="form-control" name="email" [(ngModel)]="UserModel.EmailId"
                      maxlength="50" #refemail="ngModel" id="email">
              </div>
                <div class="col-md-2">
                    <label for="name">Mobile</label>
                    <input type="text" class="form-control" name="Contactno" [(ngModel)]="UserModel.Contactno"
                        maxlength="10" #refContactno="ngModel" id="Contactno" required>
                    <div *ngIf="!refContactno.valid  && (refContactno.dirty || refContactno.touched)" class="alert alert-danger">
                        <div [hidden]="!refContactno.errors.required">
                            Contactno is required
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="name">Password</label>
                    <input type="password" class="form-control" name="Password" [(ngModel)]="UserModel.Password"
                        maxlength="50" #refPassword="ngModel" id="Password" required>
                    <div *ngIf="!refPassword.valid  && (refPassword.dirty || refPassword.touched)" class="alert alert-danger">
                        <div [hidden]="!refPassword.errors.required">
                            Password is required
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                  <label for="name">Balance</label>
                  <input disabled type="number" class="form-control" name="Balanace" [(ngModel)]="UserModel.CurrentBal"
                      maxlength="5" #refBalanace="ngModel" id="Password" value='0' required>
                  <div *ngIf="!refBalanace.valid  && (refBalanace.dirty || refBalanace.touched)" class="alert alert-danger">
                      <div [hidden]="!refBalanace.errors.required">
                          Balance is required
                      </div>
                  </div>
              </div>
              <div class="col-md-1">
                <label for="name">Pin</label>
                <input type="number" class="form-control" name="WithDrawalPin" [(ngModel)]="UserModel.WithDrawalPin"
                    maxlength="5" min="0" #refWithDrawalPin="ngModel" id="Password" value='0' required>
                <div *ngIf="!refWithDrawalPin.valid  && (refWithDrawalPin.dirty || refWithDrawalPin.touched)" class="alert alert-danger">
                    <div [hidden]="!refWithDrawalPin.errors.required">
                        Pin is required
                    </div>
                </div>
              </div>
                <div class="col-md-1">
                  <label for="name">User Status</label>
                  <mat-chip-list aria-label="Fish selection">
                    <mat-chip color="accent" selected>{{UserModel.Status==true?'Active':'InActive'}}</mat-chip>
                  </mat-chip-list>
                </div>
                <div class="col-md-1">
                    <button mat-mini-fab color="primary" type="submit" style="margin-top: 27px" [disabled]="!f.form.valid" class="btn btn-success"><span class="material-icons">
                      how_to_reg
                      </span></button>
                </div>
            </div>
        </form>
    </div>
</div>
</mat-card-content>
</mat-card>

<hr />
<mat-card
  ><mat-card-content>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="example-container mat-elevation-z8" #TABLE>
          <div class="example-header" style="margin-left: 10px;">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter grid">
            </mat-form-field>
        </div>
          <table mat-table matSort #table [dataSource]="dataSource">
            <!-- Name Column -->
            <ng-container matColumnDef="TransactionTypeName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Type Name</th>
              <td mat-cell *matCellDef="let element">
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip selected>{{ element.TransactionTypeName }}</mat-chip>
                </mat-chip-list>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="TransactionAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Amount</th>
              <td mat-cell *matCellDef="let element">
                {{ element.TransactionAmount }}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
              <td mat-cell *matCellDef="let element">{{ element.Username }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="DateTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>DateTime</th>
              <td mat-cell *matCellDef="let element">{{ element.DateTime | date :'medium'  }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
